{% extends "main.html" %} <!--including features implemented in main.html-->
{% block content %}
{% include "header.html" %} <!--including the header in the page-->
<section class="row main-body">
	<div class="col-md-12">
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
{% if messages %}


	{% for message in messages %}
			<p> <strong> {{ message }} </strong> </p> <!--flashing messages to the user-->
	{% endfor %}

	{% endif %}
{% endwith %}
</div>
</div>
</section>
<header class="row main-body">
        <h2 class="col-md-12 title">Create new category</h2> <!--heading-->
      </header>
      <section class="row main-body">
        <div class="col-md-12 admin-attr">

          <form action="{{url_for('newCategoryFunction', category_id=category_id)}}" method='POST'>
						<div class="form-group">
              <label>Name:</label> <!--name of the new category-->
              <input type='text' size='30' name='name' required>
              <input type='submit' value='Create'> <!--submit form to create category-->
            </div>
          </form>
          <a href="{{ url_for('catalogFunction')}}">
            <button class="btn btn-danger">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Cancel <!--cancel button-->
            </button>
          </a>
        </div>
      </section>
{% endblock %}
